body{
    margin: 0 15px 0 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    text-align: center;
    font-family: arial, sans-serif;

}

.full-page{
    width: 100%;
    background-color: white;

}

.header-menu {
    text-align: right;
    margin-top: 3px;
    padding: 10px;
}

.header-menu a {
    text-decoration: none;
    color: #221;
    font-size: 13px;
    padding: 8px;
}
.all-apps {
    position:relative;
    opacity: .70;
}

.all-apps:hover{
    opacity: 1;
}

.login-button {
    background-color: dodgerblue;
    font-weight: bold;
    padding: 2px;
    color: white !important;
    border-radius: 3px;
}

.login-button:hover {
    text-decoration: none !important;
    cursor: default;
}

.header-menu a:hover{
    text-decoration: underline;
}

.content{
    margin-top: 10em;
}

.search-bar{
    position: relative;
    width: 35em;
    display: inline-block;
}

.search-bar i {
    position: absolute;
    color: gray;
    left: 15px;
    top: 35px;
}

.search-bar input{
    margin-top: 20px;
    width: 100%;
    padding: 15px 15px 15px 40px;
    border-radius: 30px;
    border: 1px #D3D3D3 solid;
    box-sizing: border-box;
}

.buttons{
    margin-top: 20px;

}

.buttons input {
    color: dimgray;
    padding: 11px 18px 11px 18px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 4.8rem;
    text-align: left;
    background-color: #f2f2f2;
    font-size: 14px;
}

footer a{
    color: dimgray;
    padding: 13px;
    text-decoration: none;
}
footer a:hover{
    color: dimgray;
    padding: 13px;
    text-decoration: underline;
}


.footer-location{
    padding: 13px;
    color: dimgray;
}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

.footer-upper{
    border-top: 1px solid #e8e8e8;
    padding: 11px;
}

.footer-down  {
    border-top: 1px solid #e8e8e8;;
    padding: 11px;
}
